<?xml version="1.0" ?>

<!--
    ROS navigation stack with velocity smoother and safety (reactive) controller
-->
<launch>


  <arg name="no_static_map" default="true"/>

  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <arg name="namespace" default=""/>

  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- GLOBAL COSTMAP -->
    
    <rosparam file="$(find multidrone_exploration)/params/uav0/costmap_common.yaml" command="load" ns="global_costmap" />

    <rosparam file="$(find multidrone_exploration)/params/uav0/costmap_global_laser.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>

    <param name="global_costmap/width" value="500.0" if="$(arg no_static_map)"/>

    <param name="global_costmap/height" value="500.0" if="$(arg no_static_map)"/>


    <!-- LOCAL COSTMAP -->

    <rosparam file="$(find multidrone_exploration)/params/uav0/costmap_common.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find multidrone_exploration)/params/uav0/costmap_local.yaml" command="load" ns="local_costmap" />

    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>

  </node>

</launch>
