<?xml version="1.0" encoding="utf-8"?>
<launch>
<arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/>
"<arg name="controllers" default="
        controller/attitude
        controller/velocity
        controller/position
        "/>
<include file="$(find gazebo_ros)/launch/empty_world.launch"/>



<group ns="uav0">
<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
<arg name="name" value="uav0" />
<arg name="tf_prefix" value="uav0" />
<arg name="model" value="$(arg model)" />
<arg name="x" value="0" />
<arg name="y" value="0" />
<arg name="z" value="0" />
</include>
</group>



<group ns="uav1">
<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
<arg name="name" value="uav1" />
<arg name="tf_prefix" value="uav1" />
<arg name="model" value="$(arg model)" />
<arg name="x" value="0" />
<arg name="y" value="1" />
<arg name="z" value="0" />
</include>
</group>

</launch>